<div class="formcenter">
  <h2><b><i>Welcome</i> To This Angular Universal Testing Application</b></h2>
  <br>
  <br>
  <h4>Description About This Job Task</h4>
  <p> Dear Sir, <br>
    Basically I Need To Perform Server Side Rendering Of Angular Application For Performance Optimization
    So For That i used lazy loading concept also & follow the the appication structure that is use for large Application
    i used the service class like a fake database so changing are dynamic & maintain only during runnig time
    I mainaly focuse on SS Rendering not on designing etc.
  </p>
  <br>
  <h4>Working</h4>
  <p>
    There are two modules User and Product . both are same working like item add , edit , delete or listing.
  </p>
  <br>



</div>
