<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" class="formcenter">
  <h2>User Add Form</h2>
  <br>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" placeholder="Enter first name" formControlName="firstname">
  </div>
  <div *ngIf="firstname.invalid &&(firstname.dirty || firstname.touched)">
    <h6>first name is invalid</h6>
  </div>

  <div class=" form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" placeholder="Enter last name" formControlName="lastname">
  </div>
  <div *ngIf="lastname.invalid &&(lastname.dirty || lastname.touched)">
    <h6>Last name is invalid</h6>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" placeholder="Enter Address" formControlName="address">
  </div>
  <div *ngIf="address.invalid &&(address.dirty || address.touched)">
    <h6>Address is invalid</h6>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" placeholder="Enter description" formControlName="description">
  </div>
  <div *ngIf="description.invalid &&(description.dirty || description.touched)">
    <h6>description is invalid</h6>
  </div>

  <button type="submit" [routerLink]="['/listuser']" routerLinkActive="router-link-active"
    class="btn btn-primary">Submit</button>
</form>
